.image {
    width: 600px;
    max-width: 100px !important;
    max-height: 100px !important;
    height: 500px;
    object-fit:fill;
}
.card-img-top {
    max-width: 300px;
    max-height: 150px;
}
   
a { 
    text-decoration: none; 
}

.navbar a {
    color: white;
}



