@model CourseProject.Models.ViewModels.OrderCreateViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="row">

    <div class=" eight wide column ui left aligned basic segment">
        <h2 class="ui header">Оформлення замовлення</h2>
        <form class="ui form" asp-action="Create" asp-controller="Order">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="field">
                <label asp-for="Order.Address"></label>
                <input asp-for="Order.Address" />
                <span class="ui pointing red basic label" asp-validation-for="Order.Address"></span>
            </div>

            <div class="field">
                <label asp-for="DDate"></label>
                <input asp-for="DDate" />
                <span class="ui pointing red basic label" asp-validation-for="DDate"></span>
            </div>
            <input class="ui blue submit button" type="submit" value="Замовити" />
        </form>
        
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
