@model CourseProject.Models.ViewModels.OrderCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mb-3">Create order</h1>

<div class="row">
    <div class="col-md-6 m-auto">
        <form asp-action="Create" class="d-flex flex-column">
            <label class="control-label">Provider</label>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select class="form-control" asp-for="Order.DeliveryProvider.Id"
                    asp-items="@(new SelectList(Model.DeliveryProviders, "Id", "Name"))">
                <option>Please select one</option>
            </select>
            <label class="control-label">Delivery type</label>
            <select class="form-control" asp-for="Order.DeliveryType.Id"
                    asp-items="@(new SelectList(Model.DeliveryTypes, "Id", "Name"))">
                <option>Please select one</option>
            </select>
            <div class="form-group">
                <label asp-for="Order.Address" class="control-label"></label>
                <input asp-for="Order.Address" class="form-control" />
                <span asp-validation-for="Order.Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.Date" class="control-label"></label>
                <input asp-for="Order.Date" class="form-control" />
                <span asp-validation-for="Order.Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" style="width: 100%;" class="btn btn-success">Create order</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {});
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
