@using CourseProject.Models.DataModels
@using Microsoft.AspNetCore.Identity
@{
}
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<div class="container">
    <a asp-action="Index" asp-controller="Order"
       asp-route-id="@UserManager.GetUserId(User)" class="btn btn-check">
        Orders
    </a>


    @if (User.IsInRole("administrator"))
    {
    <a class="btn btn-primary" asp-controller="Product" asp-action="Create">Add Product</a>
    <a asp-action="ConfirmIndex" asp-controller="Order"class="btn waves-effect waves-purple">All Orders</a>

    }
</div>
<p>Hi</p>