@using CourseProject.Models.DataModels
@using Microsoft.AspNetCore.Identity
@using CourseProject.Data
@{
}
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



<div class="row">
    <div class="twelve wide column">
        <div class="ui tabular menu">
            <a class="item active">
                Інформація
            </a>
            <a asp-action="Index" asp-controller="Order"
               asp-route-id="@UserManager.GetUserId(User)" class="item">
                Замовлення
            </a>
            @if (User.IsInRole(Const.Admin))
            {
                <a class="item " asp-controller="Item" asp-action="Create">Додати послугу</a>
                <a class="item" asp-action="ConfirmIndex" asp-controller="Order">Замовлення користувачів</a>
                <a class="item" asp-controller="Type" asp-action="Create">Додати тип</a>
            }
        </div>
        <div class="container">
            <div>
                <label>Ім'я</label>
                <p>@UserManager.GetUserName(User)</p>
            </div>

        </div>
    </div>

</div>


<script>
  
    
</script>