@model CourseProject.Models.ViewModels.CategoryViewModel



<div>
    <p>
        <a href="#" class="sc" onclick="return UnHide(this)">&#9660;</a>
        <a asp-controller="Product" asp-action="GetByCategory" asp-route-categoryId="@Model.Id">@Model.Name</a>
    </p>
</div>

@if (Model.SubCategories != null && Model.SubCategories.Any())
{
<ul>
    @foreach (var category in Model.SubCategories)
    {
        @if (category.SubCategories != null && category.SubCategories.Any())
        {
            <li class="cl">

                        @await Html.PartialAsync("CategoryTreePartial", category)

            </li>
        }
        else
        {
            <li>
                <div>
                    <p>
                       <a asp-controller="Product" asp-action="GetByCategory" asp-route-categoryId="@category.Id">@category.Name</a>
                    </p>
                </div>

            </li>
           
        }
    }
</ul>
}
