@using Microsoft.AspNetCore.Identity
@using CourseProject.Models.DataModels
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a class="ui primary button inverted" asp-controller="User" asp-action="Index" title="Manage">Hello @User.Identity.Name!</a>
    <div class="item" style="padding: 0;">
        <form asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Item", new {area = ""})">
            <button type="submit" class="ui primary button inverted">Вихід</button>
        </form>
    </div>
    
}
else
{

    <a class="item yellow" asp-controller="User" asp-action="Register">Register</a>


    <a class="item yellow" asp-controller="User" asp-action="Login">Login</a>
}